
.colorNav{
  background-color: #000;
}

.colorSec{
    background-color: #212121;
    color: white;
}

.introSec{
    color: white;
    margin-top: 250px;
    text-align:center; 
}

.arrow1 {
    height: 75px;
    width: 75px;
    margin-top: 150px;
}

.nav-item {
    
    text-align: right;
}

.aboutSec{
    background-color: #303030 !important;
    color: white;
}